{# templates/form/tailwind_theme.html.twig #}
{# {% use 'form_div_layout.html.twig' %} #}

{# {% block text_row %}
<div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    <label {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>{{ label }}</label>
    <input {{ block('widget_attributes') }} />
</div>
{% endblock %} #}