{# templates/sidebar/_sidebar_item.html.twig #}

<li>
    <a id="sidebar-{{ name|default('') }}" class="flex items-center p-4 rounded-full transition duration-300 lg:hover:bg-blue-100 active:bg-blue-200 active:scale-90 group" href="{{ path|default('#') }}">
        <span class="material-symbols-rounded text-gray-500 transition duration-300 lg:group-hover:text-gray-900">{{ icon|default('') }}</span>
    </a>
</li>