{# templates/sidebar/_sidebar_add_recipe.html.twig #}

<ul class="pt-4 mt-4 space-y-2 border-t border-gray-200">
    <li>
        <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-150 hover:bg-gray-100 group" href="{{ path('app_recipe_new') }}">
            <span class="material-symbols-rounded flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900">add_circle</span>
            <span class="ml-3">Add new recipe</span>
        </a>
    </li>
</ul>