{# templates/sidebar/_sidebar_add_recipe.html.twig #}

<ul class="space-y-2">
    <li>
        <a class="flex items-center p-2 text-base font-normal text-gray-900 rounded-xl transition duration-300 hover:bg-gray-100 group" href="{{ path('app_recipe_new') }}">
            <span class="material-symbols-rounded flex-shrink-0 text-gray-500 transition duration-300 group-hover:text-gray-900">add_circle</span>
            <span class="ml-3">Add new recipe</span>
        </a>
    </li>
</ul>