{% extends 'base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block main %}
    <h1>Create new Ingredient</h1>

    {{ include('ingredient/_form.html.twig') }}

    <a href="{{ path('app_ingredient_index') }}">back to list</a>
{% endblock %}
