<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}" />
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <title>FoodPlanner</title>
        
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,700,0..1,0" />
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>

    <body tabindex="-1">
        {% block content %}<div id="root"></div>{% endblock %}

        <!-- JavaScript -->
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>