{% extends 'base.html.twig' %}

{% block title %}Edit Instruction{% endblock %}

{% block main %}
    <h1>Edit Instruction</h1>

    {{ include('instruction/_form.html.twig', {'button_label': 'Update'}) }}

    <form method="post" action="{{ path('app_instruction_delete', {'id': instruction.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instruction.id) }}">
        <button class="btn">Delete</button>
    </form>

{% endblock %}
