{% extends 'base.html.twig' %}

{% block title %}Edit Instruction{% endblock %}

{% block main %}
    <h1>Edit Instruction</h1>

    {{ include('instruction/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('instruction/_delete_form.html.twig') }}
{% endblock %}
