{# templates/component/_button_submit.html.twig #}

<button type="submit" class="{% if inverse is defined and inverse %}{{ btn_submit_inverse }}{% elseif transparent is defined and transparent %}{{ btn_submit_transparent }}{% else %}{{ btn_submit }}{% endif %}">
    {{ include('component/_button_content.html.twig', {
        icon: icon|default(''),
        label: label|default(''),
    }) }}
</button>