{# templates/component/_link_button.html.twig #}

<a href="{{ path|default('#') }}"
    class="rounded-full h-12 pl-4 pr-6 font-semibold text-md
        transition duration-300 flex items-center
        active:scale-95
        text-white bg-blue-500 
        hover:bg-blue-700 active:bg-blue-800">
    <span class="material-symbols-rounded">{{ icon|default('') }}</span>
    <span class="ml-3">{{ label|default('') }}</span>
</a>