{# templates/component/_submit_button.html.twig #}

<button type="submit" 
    class="rounded-full h-12 pl-4 pr-6 font-semibold text-md
        transition duration-300 flex items-center
        active:scale-95
        text-white bg-blue-500 
        hover:bg-blue-700 active:bg-blue-800">
    <span class="material-symbols-rounded">{{ icon }}</span>
    <span class="ml-3">{{ label }}</span>
</button>