{# templates/component/_submit_button_right_inverse.html.twig #}

<div class="flex justify-between items-center">
    <div></div>
    {{ include('component/_submit_button_inverse.html.twig', {icon: icon, label: label}) }}
</div>