{# templates/component/_submit_button_right.html.twig #}

<div class="flex justify-between items-center">
    <div></div>
    {{ include('component/_submit_button.html.twig', {icon: icon, label: label}) }}
</div>